[Unit]
Description=siwapp-simulator

[Service]
Type=simple
User=root
ExecStart=/usr/bin/bash /usr/share/systemd/siwapp-locust-service.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target